/* Give your page a fun background color */

body {
  background-color: #d6fdff;
}

/* Make the header and footer a different color from the background */

header {
  background-color: #8EF8F3;
}

footer {
  background-color: #8EF8F3;
}

/* Align the h1 containing your name in the center of the header*/

h1 {
  text-align: center;
}

/* Make your p tag a different color and italic */

p {
  color: #32544b;
  font-style: italic;
}

/* Put a border around your image */

img {
    width: 10%;
    height: auto;
    border: 2px solid #55ad71;
}

/* Change the font-family of your list */

ul {
  font-family: raleway;
}
